/*
* @Author: He Gong
* @Date:   2019-02-13 11:27:21
* @Last Modified by:   He Gong
* @Last Modified time: 2019-03-10 14:02:20
*/  
.btn-send-goods{
    margin-left: 10px;
}

.p-img{
    display: block;
    width: 80px;
    height: 80px;
}
